.contact {
  padding: 0 5rem;
  padding-top: 7rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact h2 {
  grid-column: span 2;
  margin-bottom: 2rem;
}

.contact form {
  display: grid;
  gap: 1rem;
}

.contact form button {
  margin-left: auto;
}

.input-group {
  display: grid;
}

.contact label {
  display: flex;
  font-weight: 200;
  margin-left: 10px;
  margin-bottom: 3px;
}

.contact label > span {
  color: rgb(122, 122, 122);
  margin-left: 3px;
}

.contact .required {
  margin-left: auto;
  color: red;
}

.contact input {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  border: 0.5px solid grey;
  transition: all 0.25s;
}

.contact textarea {
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border: 0.5px solid grey;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  border: 2px solid #4c5a6f;
}

.contact .error {
  border: 1px solid red;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: #f8ce78; */
  width: fit-content;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: 2px;
  font-weight: 200;
  padding: 1rem;
}

.contact-info h3 {
  font-size: 2rem;
  font-weight: 100;
}

.contact-info .numbers {
  display: grid;
  gap: 1rem;
}

.contact-info .numbers div {
  display: flex;
  gap: 1rem;
}

.contact-info .numbers strong {
  display: block;
  font-weight: 300;
  width: 72px;
}

.send-confirm,
.message-error {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  color: white;
  box-shadow: 0px 5px 5px var(--dark);
}

.message-error {
  cursor: pointer;
}

.send-confirm svg {
  color: rgb(0, 193, 0);
  font-size: 3rem;
}

@media (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }

  .contact h2 {
    grid-column: span 1;
  }

  .contact form button {
    margin: 2rem auto;
    margin-bottom: 4rem;
  }

  .contact-info-container {
    flex-direction: row;
    gap: 4rem;
    position: relative;
  }
  .contact-info {
    justify-content: center;
    text-align: center;
    margin: auto;
    grid-column: 1;
  }

  @media (max-width: 700px) {
    .contact {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .contact-info-container {
      gap: 2rem;
      flex-direction: column;
    }

    .contact-info .numbers div {
      justify-content: center;
    }
  }
}
