.about {
  /* padding: 2rem; */
  /* padding-top: 7rem; */
}

.about h2 {
  margin-bottom: 2rem;
}

.about section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 2rem;
  padding-top: 0;
}

.about section > div {
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.about img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.about > div {
  position: relative;
  background-color: #4c5a6f;
  padding: 2rem 1rem;
  margin-bottom: 4rem;
  padding-top: 7rem;
}

.about svg {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.about .first-p {
  text-align: center;
  margin: auto;
  color: white;
}

.about .last-p {
  text-align: start;
}

.about button {
  display: block;
  margin: 4rem auto;
}

@media (max-width: 800px) {
  .about section {
    grid-template-columns: 1fr;
  }

  .about .last-p {
    margin-top: 4rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .about > div {
    margin-bottom: 0;
  }

  .about section > div {
    position: relative;
    width: calc(100% + 4rem);
  }

  .about .last-p {
    margin-top: 2rem;
  }

  .about button {
    display: block;
    margin: 2rem auto;
  }
}
