.navbar {
  color: white;
  position: fixed;
  height: 6rem;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  width: 100dvw;
  z-index: 2000;
}

.navbar svg {
  z-index: inherit;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
}

.hamburger-react {
  z-index: 2000;
}

.dropdown-links {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 200;
  display: flex;
  gap: 2rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  /* border-radius: 1rem; */
  backdrop-filter: blur(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.dropdown-links.open {
  opacity: 1;
  max-height: 500px;
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 3rem;
  margin: auto;
  position: relative;
  z-index: 2000;
}

.navbar .links {
  display: flex;
  gap: 3rem;
  font-size: 1.15rem;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s all;
}

.navbar a:hover {
  text-decoration: underline;
  transform: translateY(-2px);
}

.navbar .active {
  font-weight: 600;
  text-decoration: underline;
}

.navbar h1 {
  font-size: 3rem;
}

@media (max-width: 800px) {
  .navbar .links {
    display: none;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 600px) {
  .navbar .content {
    padding: 0 1rem;
  }
}
